* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  box-sizing: border-box;
}

body {
  background: #05050a;
  color: white;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  position: fixed;
  width: 100%;
  background: #F7D1D7; /* Blush Pink background */
  color: #333;
  backdrop-filter: blur(10px);
}

nav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.glow {
  position: absolute;
  width: 600px;
  height: 600px;
  background: radial-gradient(rectangle, #ffc5e6, transparent);
  filter: blur(100px);
  z-index: -1;
}

h1 {
  font-size: 60px;
}

.buttons {
  margin-top: 30px;
}

button {
  padding: 14px 28px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.primary {
  background: linear-gradient(45deg,#4f46e5,#7c3aed);
  color: white;
}

.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.features {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding: 100px;
}

.card {
  background: rgba(255,255,255,.05);
  padding: 30px;
  border-radius: 16px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background: rgba(255,255,255,.1);
}

.dashboard {
  display: flex;
  padding: 100px;
  align-items: center;
}

.dashboard img {
  width: 50%;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  background: #0a0a15;
}

.cta {
  padding: 100px;
  text-align: center;
  background: radial-gradient(circle,#4f46e5,#05050a);
}

input {
  padding: 15px;
  border-radius: 10px;
  border: none;
  margin-top: 20px;
}
.btn {
  padding: 14px 28px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  margin: 10px;
}
.center {
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
